extends layout

block content
  h1 Nueva Matricula
  br
  br
  h2 Alta de nueva asignatura
  br
  form(id="newAsignatura" action="/asignatura/save" method="post")
    label(for='nombre') Nombre:
    br
    input(type='text' name='nombre')
    br
    br
    label(for='numHoras') Numero de horas:
    br
    input(type='text' name='numHoras')
    br
    br
    label(for='docente') Docente:
    br
    select(name='docente')
      each docente in docentes
        option(value=docente.id) #{docente.nombre} #{docente.apellido}
    br
    br
    label(for='alumnos') Alumnos:
    br
    each alumno in alumnos
      input(type='checkbox' name='alumnos' value=alumno.id) 
      |  #{alumno.nombre} #{alumno.apellido}
      br
    br
    br
    br
    input(type="submit")